<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- Queries for Banking Apps on Android 11+ -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="vietqr" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data
                android:scheme="https"
                android:host="api.vietqr.io" />
        </intent>

        <!-- Common Vietnamese Banking & Wallet Apps -->
        <package android:name="com.VCB" />
        <package android:name="com.mbmobile" />
        <package android:name="vn.com.techcombank.bb.app" />
        <package android:name="com.tpb.mb.gprsandroid" />
        <package android:name="com.vnpay.bidv" />
        <package android:name="com.vnpay.Agribank3g" />
        <package android:name="mobile.acb.com.vn" />
        <package android:name="com.vnpay.vpbankonline" />
        <package android:name="vn.momo.platform" />
        <package android:name="com.vnpay.ocb" />
        <package android:name="com.msb.digital" />
        <package android:name="vn.vib.vibbarmobile" />
        <package android:name="com.shb.mobilebanking" />
        <package android:name="com.sacombank.ewallet" />
    </queries>

    <application
        android:name=".YourHistoryApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YourHistory">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.YourHistory"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
